@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* START OF THE CLOCK STYLING */
.wrapper{
  display: inline-flex;
}
.wrapper .icon{
  color: #111;
  margin: 0 50px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  margin-left: 1025px;
  top: 170px;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span{
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i{
  line-height: 0px;
  font-size: 55px;

}
.wrapper .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 265px;
}
.wrapper .icon:hover .tooltip{
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span{
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
  background: #3B5999;
}


/* Chat Area CSS Start */
.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}


.chat-box{
  width: 520px;
  margin-top: 56px;
  border-radius: 45px;
  margin-left: 600px;
  position: relative;
  height: 405px;
  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  background: #f7f7f7;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .text{
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
}
.chat-box .chat{
  margin: 15px 0;
}
.chat-box p{
  margin-right: 350px;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .jmsg{
  display: flex;
}
.chat-box .jmsg .details{
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.jmsg .details p{
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .usermsg{
  display: flex;
  align-items: flex-end;
}
.chat-box .usermsg img{
  height: 35px;
  width: 35px;
}
.chat-box .usermsg .details{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.usermsg .details p{
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0;
}

.datetime{
  color: #fff;
  background: hsl(0, 0%, 9%);
  font-family: "Segoe UI", sans-serif;
  width: 465px;
  padding: 30px 10px;
  border: 3px solid hsl(0, 0%, 9%);
  border-radius: 25px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.09));
  transition: 0.5s;
  transition-property: background, box-shadow;
  margin-left: 45px;
}

.timer{
  font-size: 20px;
  color: #fff;
  background: hsl(0, 0%, 9%);
  font-family: "Segoe UI", sans-serif;
  width: 465px;
  padding: 30px 10px;
  border: 3px solid hsl(0, 0%, 9%);
  border-radius: 25px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.09));
  transition: 0.5s;
  transition-property: background, box-shadow;
  margin-left: 45px;
}
.displayTimeLeft{
  font-size: 20px;
}
.datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}


/* .stop, .pause, .start {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
} */
.timerButton, .timerModifiers, .voiceRecognitionButton {
  background: none;
  border: 0;
  cursor: pointer;
  color: #111;
  font-size: 25px;
  width: 110px;
  background: white;
  border-radius: 23px;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  padding: 1rem;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  outline: 0;
  margin-top: 15px;
}
 .timerModifiers:hover{
  background: #2E94E3;
  box-shadow: 0 0 20px #2E94E3;
  color: #fff;
  transition: all 0.3s ease;
  transform: scale(1.2);
}


.date{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #2E94E3;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}
    
/* END OF THE CLOCK STYLING */
/* START OF THE POPUP STYLING */
.thing {
  background: none;
  border: 0;
  cursor: pointer;
  color: #111;
  font-size: 25px;
  width: 80px;
  background: white;
  border-radius: 23px;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  padding: 1rem;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  outline: 0;
  position: absolute;

}
 .thing:hover{
  background: crimson;
  box-shadow: 0 0 20px #2E94E3;
  color: #fff;
  transition: all 0.3s ease;
  transform: scale(1.2);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: crimson;
  width: 500px;
  max-width: 90%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(2);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  color: crimson;
  background-color:#fff;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* .container{
  position: relative;
  width: 100%;
  min-height: 500vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17b3ab7c;
  transition: 0.5px;
  padding: 20px;
}
.container#blur.active{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
.container .content{
  position: relative;
  max-width: 800px;
}
h2{
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}
.container .content img{
  max-width: 100%;
  display: block;
}
a{
  position: relative;
  padding: 5px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background: rgb (134,43,43);
  transition: 1s;
  background-color: #333;
}
a:hover{
  transition: 1s;
  background: #2b5c59;
}
#popup{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#popup.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transform: 0.5s;
} */

/* .popup{
    background-color: #ffffff;
    width: 750px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
} */


/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --gradient-color-red: linear-gradient(90deg, 
                          hsl(7, 89%, 46%) 15%,
                          hsl(11, 93%, 68%) 100%);
  --gradient-color-orange: linear-gradient(90deg, 
                           hsl(22, 89%, 46%) 15%,
                           hsl(54, 90%, 45%) 100%);
  --gradient-color-yellow: linear-gradient(90deg, 
                           hsl(54, 89%, 46%) 15%,
                           hsl(92, 90%, 45%) 100%);
  --gradient-color-green: linear-gradient(90deg, 
                          hsl(92, 89%, 46%) 15%,
                          hsl(92, 90%, 68%) 100%);
  --text-color: #fff;
  --body-color: hsl(0, 0%, 11%);
  --container-color: hsl(0, 0%, 9%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Rubik', sans-serif;

  --biggest-font-size: 2.5rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.75rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/

*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.initial{
  height: 3vh;
  width: 50vh;
  display: flex;
  margin-left: 645px; 
}



input[type="radio"]{
  -webkit-appearance: none;
}
.text{
  font-size: 60px;
  font-weight: 600;
  margin-left: 3px;
  color: #fff;
  margin-left: 100px;
}

label{
  height: 120px;
  width: 160px;
  border: 6px solid crimson;
  margin: auto;
  border-radius: 115px;
  position: relative;
  color: #18f98d;
  transition: 0.5s;
  margin-top: 50px;
  align-items: center;
  
}
.spotify{
  /* position: fixed; 
  left:4%;
  top: 25%;  */
    color: #fff;
    background: hsl(0, 0%, 9%);
    font-family: "Segoe UI", sans-serif;
    width: 465px;
    padding: 30px 10px;
    border: 3px solid hsl(0, 0%, 9%);
    border-radius: 25px;
    position: absolute;
    margin-left: 45px;
    margin-top: 30px;
    height: 130px;
   
} 
  
 .messages * {
  position: relative;
  margin-left: 290px;
}

.messages {
  bottom: 0;
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x:hidden;
  padding-bottom: 15px;
  z-index: 1000;
  
}

.usermsg {
  /* text-align: right;
  width: 300px;
  color: rgb(113, 113, 235);
  background: #147efb; */
  text-align: center;
  width: 300px;

  background: #147efb;
  color: #fff;
  height: 40px;
  border-radius: 28px 28px 0px 28px;
  margin-left: 450px;
}

.jmsg {
  text-align: center;
  width: 350px;
  align-items: center;
  background: #53d769;
  color: #fff;
  border-radius: 28px 28px 28px 0px;
  height: 82;
  }

.messages::-webkit-scrollbar {
  display: none;
}

 .commands {
  display: none;
  background-color: white;
  width: 40%;
  margin-top: -300px;
  margin-left: 675px;
}

.commands p {
  color: rgb(197, 0, 0);
}

.fa-solid {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%); 

}


label>span {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 80%);
}

input[type="radio"]:checked + label {
background-color: #8a82fb;
color: #ffffff;
box-shadow: 0 15px 45px rgb(24,249,141,0.2);
border-color: #18f98d;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

/*=============== BATTERY ===============*/

.battery__card {
  position: relative;
  width: 60%;
  height: 150px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: -269px;
  margin-left: 30px;
}

.battery__text {
  margin-bottom: .5rem;
}

.battery__percentage {
  font-size: var(--biggest-font-size);
}

.battery__status {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
}

.battery__status i {
  font-size: 1.25rem;
}

.battery__pill {
  position: relative;
  width: 50px;
  height: 100px;
  background-color: var(--container-color);
  box-shadow: inset 20px 0 48px hsl(0, 0%, 16%), 
              inset -4px 12px 48px hsl(0, 0%, 56%);
  border-radius: 3rem;
  justify-self: flex-end;
}

.battery__level {
  position: absolute;
  inset: 2px;
  border-radius: 3rem;
  overflow: hidden;
}

.battery__liquid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: var(--gradient-color-red);
  box-shadow: inset -10px 0 12px hsla(0, 0%, 0%, .1), 
              inset 12px 0 12px hsla(0, 0%, 0%, .15);
  transition: .3s;
}

.battery__liquid::after {
  content: '';
  position: absolute;
  height: 8px;
  background: var(--gradient-color-red);
  box-shadow: inset 0px -3px 6px hsla(0, 0%, 0%, .2);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -4px;
  border-radius: 50%;
}

/* Full battery icon color */
.green-color {
  background: var(--gradient-color-green);
}

/* Battery charging animation */
.animated-green {
  background: var(--gradient-color-green);
  animation: animated-charging-battery 1.2s infinite alternate;
}

/* Low battery animation */
.animated-red {
  background: var(--gradient-color-red);
  animation: animated-low-battery 1.2s infinite alternate;
}

.animated-green,
.animated-red,
.green-color {
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes animated-charging-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 6px hsl(92, 90%, 68%);
  }
}

@keyframes animated-low-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 8px hsl(7, 89%, 46%);
  }
}

/* Liquid battery with gradient color */
.gradient-color-red,
.gradient-color-red::after {
  background: var(--gradient-color-red);
}

.gradient-color-orange,
.gradient-color-orange::after {
  background: var(--gradient-color-orange);
}

.gradient-color-yellow,
.gradient-color-yellow::after {
  background: var(--gradient-color-yellow);
}

.gradient-color-green,
.gradient-color-green::after {
  background: var(--gradient-color-green);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .battery__card {
    zoom: .8;
  }
}

/* For medium devices */
@media screen and (min-width: 430px) {
  .battery__card {
    width: 312px;
  }
}
@media screen and (max-width:600px){
  .datetime {
    width: auto;
  }
  .time{
    font-size: 30px;
  }
  .spotify{
    width: 50% ;
  }
  
}

/* @media screen and (max-width: 1500px){
.spotify{
  position: absolute;
  left:4%;
  top: 18%;
} 
} */
/* For large devices */
@media screen and (min-width: 1024px) {
  .battery__card {
    zoom: 1.5;
  }
  /* .spotify{
    position: absolute;
    left:4%;
    top: 26%;
  }  */
}

@media screen and (max-width: 900px) {
  .datetime {
    width: 40%;
  }
  .time{
    font-size: 30px;
  }
  .spotify{
    width: 25% ;
  }
  .text{
    font-size: 40px;
  }
}